<div class="container">
    <div class="screen">
        <div class="screen__content">
            <app-auth-header></app-auth-header>
            <form class="login" #userlogin="ngForm" (ngSubmit)="submit()">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" name="username" class="login__input" placeholder="Username" [(ngModel)]="userCred.username" minlength="5" #username="ngModel" required/>
                </div>
                <div class="login__field">
                    <i class="login__icon fa-envelope-open"></i>
                    <input type="text" name="email" class="login__input" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="userCred.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required/>
                </div>
                <div class="login__field">
                    <i class="login__icon  fa-id-card"></i>
                    <input type="number" name="regid" class="login__input" pattern="^\d{2,4}$" placeholder="Registration ID" [(ngModel)]="userCred.regid" minlength="4" #regid="ngModel" required/>

                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" name="password" placeholder="Password" [(ngModel)]="userCred.password" minlength="6" #password="ngModel" required/>
                </div>
                <button class="button login__submit" [disabled]="userlogin.form.invalid">Sign Up Now
        <i class="button__icon fas fa-chevron-right"></i>
      </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>