.formbody {
    min-height: 550px;
    background-color: rgba(19, 247, 255, 0.945);
    background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.formitem {
    /* border: 2px solid white; */
    margin: 15px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 40px;
    background-color: rgba(19, 247, 255, 0.945);
    border-radius: 20px;
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
