<div class="footerhead">
    <div class="text-center word22 pt-4">
        <h4>Connect Us</h4>
    </div>
    <div class="social">
        <ul class="no-list">
            <a data-aos="fade-zoom-in" data-aos-duration="600" routerLink="" target="_blank">
                <li class="facebook"><i class="fab fa-facebook-f"></i></li>
            </a>
            <a data-aos="fade-zoom-in" data-aos-duration="1000" routerLink="" target="_blank">
                <li class="twitter"><i class="fab fa-twitter"></i></li>
            </a>
            <a data-aos="fade-zoom-in" data-aos-duration="1400" routerLink="" target="_blank">
                <li class="pinterest"><i class="fab fa-pinterest"></i></li>
            </a>
            <a data-aos="fade-zoom-in" data-aos-duration="1800" routerLink="" target="_blank">
                <li class="google-plus"><i class="fab fa-google-plus-g" target="_blank"></i></li>
            </a>
            <a data-aos="fade-zoom-in" data-aos-duration="2200" routerLink="" target="_blank">
                <li class="instagram"><i class="fab fa-instagram"></i></li>
            </a>
            <a data-aos="fade-zoom-in" data-aos-duration="2600" routerLink="" target="_blank">
                <li class="youtube"><i class="fab fa-youtube" target="_blank"></i></li>
            </a>
        </ul>
    </div>
    <!-- Copyright Section -->
    <div class="text-white text-center mt-5">
        <br>
        <p>Copyright © 2022 Digital LibraryApp All rights reserved.</p>

    </div>
</div>
