<div class="bookinfo">

    <div class="itemview">
        <div>
            <div class="text-center">
                <img src="{{books.imageurl}}" class="imageadj" alt="">
            </div>
            <div>
                <h3 style="font-family: ''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="text-center mt-2">Author: {{books.author}}</h3>

                <h3 style="font-family: ''Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="text-center mt-4">{{books.bookname}}</h3>
            </div>

            <div class="mt-4 p-4">
                {{books.synopsis}}
            </div>

            <div class="text-center mt-5" style="color: blue;">
                <i routerLink="" class="fa-solid fa-house fa-lg"></i>
            </div>
        </div>



    </div>

</div>
